includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - src
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/gravity-forms-stubs/gravity-forms-stubs.php
    ignoreErrors:
        - '#^Constant CAP_CAPTCHA_(URL|VERSION|FILE|DIR|ENDPOINT|SITE_KEY|SECRET_KEY|ADMIN_API_KEY) not found\.$#'
